/* For test purpose only. Delete all the following when starting a new project !*/

main>div {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  // place-items: center;
  padding: 2em;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}