/* For test purpose only. Delete all the following when starting a new project !*/

main>div {
  display: grid;
  justify-content: center;
  padding: .25em;
}

header {
  display: flex;
  justify-content: center;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
}