---
title: base-layout
---
<!DOCTYPE html>
<html lang="{{locale}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <meta name="description" content="{{ site[locale].metaDescription }}">
        <link rel="stylesheet" href="{{ '/css/styles.css' | url }}"/>
    </head>
    <body>
        {{content | safe}}
    </body>
</html>