<!DOCTYPE html>
<html lang="{% if locale %}{{ locale }}{% else %}en{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/metainfo.html" %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
    <meta name="description"
        content="{% if metaDescription %}{{ metaDescription }}{% else %}{{ site.metaDescription }}{% endif %}">
    <meta name="keywords" content="{% if metaKeywords %}{{ metaKeywords }}{% else %}{{ site.metaKeywords }}{% endif %}">
    <!-- {% include "partials/favicons.html" %} -->
</head>

<body>
    {% include "partials/header.html" %}
    <main>        
        {% block content %}
        {% endblock %}
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>
