{% extends "layouts/base.njk" %}
{% set metaTitle = "title" %}
{% set metaDescription = "description" %}
{% for language in locales %}
  {% if locale and locale === language.locale %}
    {% set metaTitle = language.metaTitle %}
    {% set metaDescription = language.metaDescription %}
  {% else %}
    {% if language.default %}
      {% set metaTitle = language.metaTitle %}
      {% set metaDescription = language.metaDescription %}
    {% endif %}
  {% endif %}
{% endfor %}