<!DOCTYPE html>
<html lang="{% if locale %}{{locale}}{% else %}en{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if metaTitle %}{{ metaTitle}}
            {% else %}Generic title{% endif %}
        </title>
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>
        <meta name="description" content="{% if metaDescription %}{{ metaDescription }}{% else %}Global Description{% endif %}">
        <meta name="keywords" content="{% if metaKeywords %}{{ metaKeywords }}{% else %}Global Keywords{% endif %}">
        {# {% include "components/favicons.njk" %} #}
        {# {% include "components/opengraph.njk" %} #}
    </head>
    <body>
        {# example : #}
        {% include "components/header.njk" %}
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% include "components/footer.njk" %}
    </body>
</html>