<!DOCTYPE html>
<html lang="{% if locale %}{{locale}}{% else %}en{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ metaTitle}}</title>
        <meta name="description" content="{{ metaDescription }}">
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>