/** Based on Andy Bell's modern CSS reset: https://piccalil.li/blog/a-modern-css-reset/ 
plus some custom rules and preliminary TYPOGRAPHY setup **/
@use "../abstracts"as *;

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    font-size: 100%;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--ff-serif);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-weight: 400;
}

body.light {
    @include themelight;
}

body.dark {
    @include themedark;
}

p {
    margin-bottom: 1.125rem; // opinionated
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.1rem 0 1.05rem; // opinionated
    font-family: var(--ff-sans);
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

small,
.text_small {
    font-size: var(--fs-small);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

// a {
//     // text-decoration: none; // old rule
//     color: var(--color-fore3);
// }

pre,
code {
    color: var(--color-400);
    font-family: var(--ff-mono);
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: .25em .5em;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block; // remove the bottom gap
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}