button {
  border: 1px solid var(--color-300);
  border-radius: 4px;
  // background: var(--color-200);
  color: var(--color-foreground);
  text-align: center;
  transition: all .25s ease;

  &:hover {
    background: var(--color-100);
    color: var(--color-500);
  }
}