---
permalink: index.html
locale: "en"
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}
 <div>
   <h1>{{metaTitle}}</h1>
   <p>
    <time datetime="{{ page.date | date('YYYY-MM-DD') }}">{{ page.date | date('YYYY-MM-DD') }}</time>
  </p>
 </div>
{% endblock %}


