---
permalink: index.html
---

{% extends "layouts/base-locales.njk" %}

{% block content %}
 <div>  
   <h1>{{metaTitle}}</h1>
   <p> started : 
    <time datetime="{{ page.date | dateToFormat('YYYY-MM-DD') }}">{{ page.date | dateToFormat('YYYY-MM-DD') }}</time>
  </p>
 </div>
{% endblock %}


