---
permalink: /{{locale}}/index.html
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}
 <div>
   <h1>{{metaTitle}}</h1>
   {% for post in collections.content_en | reverse %}
  {% if loop.first %}<ul>{% endif %}
    <li>
      <article>
        {# <p><time datetime="{{ post.date | date('Y-MM-DD') }}">{{ post.date | date("DD MMMM[,] Y", locale) }}</time></p> #}
        <p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
      </article>

    </li>

  {% if loop.last %}</ul>{% endif %}
{% endfor %}
 </div>
{% endblock %}


