<footer>
  <div>
    <p>{{ footer[locale].addressTitle }}</p>
    <p>{{ footer[locale].addressStreet }}, {{ footer[locale].addressNumber }}</p>
    <p>{{ footer[locale].addressPostcode }}, {{ footer[locale].addressCity }}</p>
  </div>
  <p>
    <small>&copy;2021-present The Web</small>
  </p>
</footer>
{# <script type="module" src="/js/main.js"></script> #}
{% set js %}
{% include "js/dom.js" %}
{% include "js/darkmode.js" %}
{% include "js/btnLog.js" %}
{% endset %}
<script type="text/javascript">{{ js | jsmin | safe }}</script>