<header>
  {% for navItem in header[locale] %}
    <a href="{{ navItem.url }}">{{ navItem.label }}</a>
  {% endfor %}
  <button id="themetoggle" style="margin-bottom: 1rem;">toggle theme</button>
</header>