/* overrides and custom styles */

/* debug
    uncomment to test pipeline. Delete all the following when starting a new project !
*/
button {
    border: 1px solid var(--color-back3);
    background: var(--color-back2);
    color: var(--color-text2);
    transition: .350s;
    text-align: center;

    &:hover {
        background: transparent;
        color: var(--color-text4);
    }
}

main>div {
    display: grid;
    justify-content: center;
    padding: .25em;
}

header {
    display: flex;
    justify-content: center;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1em;
}