* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: 100%;
    background-color: var(--color-back1);
    color: var(--color-text1);
    font-family: var(--ff-sans);
    line-height: 1.65;
}

body.light {
    @include themelight;
}

body.dark {
    @include themedark;
}

/* here add typography from https://type-scale.com/  css file */

a {
    text-decoration: none;
    color: var(--color-text3);
}

code {
    color: var(--color-text4);
}

button {
    all: unset;
    cursor: pointer;
    /* customize base buttons here */
    border: 1px solid var(--color-back2);
    padding: .25rem;
}